@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
--white:hsl(0, 0%, 100%);

}
*{ 
    margin: 0%;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: var(--Pale-blue);
    padding-top: 5em;
    display: grid;
    padding-bottom: 5em;

}

.main-container{
    font-family: 'Red Hat Display', sans-serif;
    position:relative;
    margin: auto;
    height: 570px;
    width: 325px;
    background-color: var(--white);
    border-radius: 1em;
}
.illustracion{
    width: 325px;
    border-start-start-radius: 1em;
    border-start-end-radius: 1em;
}
.title{
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: .8em;
    font-size: 22px;
    font-weight: 900;
    color: var(--Dark-blue);
}
.info{
    font-size: 15px;
    text-align: center;

    font-weight: 300;
    color: var(--Desaturated-blue);
    margin-left: 2.3em;
    margin-right: 2.3em;
    line-height: 1.75em; 
}
.plan{
    border-radius: 1em;
    margin-top: 1.2em;
    padding-top: 1.2em;
    padding-bottom: 1em;
    justify-content: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: flex;
    background-color:var(--Very-pale-blue);
    justify-content: space-around;
    margin-bottom: 1em;
}
.plan-p_price{
    font-size: 15px;
    line-height: 1.5em;
    text-align: center;
    margin-right: 1em;
    
}
.plan-period b{
    color: var(--Dark-blue);
    font-weight: 900;
}
.plan-price{
    color: var(--Desaturated-blue);
    font-weight: 400;
}
.change{
    padding-top: .8em;
    padding-right: .5em;
    font-size: 14px;
    color: var(--Bright-blue);
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
.change:hover{
    color:#766cf1;
}
button{
    font-weight: 600;
    font-size: 15px;
    color: var(--white);
    background-color: var(--Bright-blue);
    border: 1px solid var(--Bright-blue);
    border-radius: .8em;
    width: 275px;
    height: 50px;
    margin-top: .5em;
    margin-left: 1.8em;
    cursor: pointer;
}
button:hover{
    background-color: #766cf1;
    border: 1px solid #766cf1;
}
.cancel{
    margin-top: 1.5em;
    margin-left: 8em;
    font-size: 15px;
    font-weight: 900;
    color: var(--Desaturated-blue);
    cursor: pointer;
}
.cancel:hover{
    color: var(--Dark-blue);
    font-weight: 900;
}
.attribution{
    display: none;
}